.footer {
  margin-left: 200px;
  margin-top: 67px;
}

@media screen and (max-width: 1279px) {
  .footer {
    margin-left: 100px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-left: 50px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-left: 19px;
    margin-top: 48px;
  }
}