.header {
  width: calc(100% - 400px);
  padding-top: 45px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    padding-top: 28px;
  }
}