.popupProfile__container-del {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 425px;
  right: 425px;
  margin: 0 auto;
  background-color: #FFFFFF;
  max-width: 430px;
  min-height: 181px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1279px) {
  .popupProfile__container-del {
    max-width: 352px;
    left: 215px;
    right: 215px;
  }
}

@media screen and (max-width: 768px) {
  .popupProfile__container-del {
    max-width: 332px;
    left: 50px;
    right: 50px;
  }
}

@media screen and (max-width: 450px) {
  .popupProfile__container-del {
    max-width: 282px;
    left: 19px;
    right: 19px;
  }
}